/*小图标*/

#toc ol.nav li.nav-item i {
    display: inline-block;
    margin-left: -0.9em;
    color: #b3b3b3;
    font-weight: bold;
    cursor: pointer;
}

#toc ol.nav li.nav-item i:hover {
    color: #000;
}


/*关联图标的 Class*/

#toc ol.nav li.nav-item i.hide {
    display: none;
}


/*关联总标题的 Class*/

#toc .toc-title.clickable {
    cursor: pointer;
}

#toc .toc-title.clickable:hover {
    color: #88acdb;
}

#toc .toc-title.clickable:active {
    color: #d3d3d3;
}


/*其他目录相关*/

#toc {
    font-size: 0.9em;
    line-height: 1.65em;
}

#toc .toc-title {
    font-weight: bold;
    color: #808080;
}

#toc ol.nav {
    margin-left: 0;
    padding: 0.7em;
    padding-right: 0;
}

#toc ol.nav li.nav-item {
    list-style-type: none;
}

#toc ol.nav li.nav-item:hover {
    background: none;
}

#toc ol.nav a.nav-link {
    color: #808080;
}


/* #toc ol.nav a.nav-link:visited {
    color: #f48385;
} */

#toc ol.nav a.nav-link:hover {
    color: #88acdb;
    text-decoration: none;
    background: rgba(158, 188, 226, 0.21);
}

#toc ol.nav ol.nav-child {
    padding-left: 1.25em;
    margin: 4px 0;
}